<template name="Home">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <button type="button" class="btn btn-default btn-back pull-left hidden" onclick="history.back()">
        <i class="fa fa-lg fa-chevron-left"></i>
        <span>Back</span>
      </button>
      <a class="navbar-brand" title="Customers v{{getAppVersion}}" href="/">Customers</a>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="#">
              <i class="fa fa-users"></i>
              Contacts
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-building-o"></i>
              Companies
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-gears"></i>
              Settings
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 bootcards-list">

        <div class="panel panel-default bootcards-media">
          <div class="panel-heading">
            <h3 class="panel-title">Media Card Heading</h3>
          </div>
          <div class="panel-body">
            Media card description lorem ipsum dolor est compendium
          </div>
          <img src="http://www.teamstudio.com/Portals/218295/images/istock_000001242290small.jpg" class="img-responsive"/>
          <div class="panel-footer">
            <div class="btn-group btn-group-justified">
              <div class="btn-group">
                <button class="btn btn-default">
                  <i class="fa fa-arrow-down"></i>
                  Download
                </button>
              </div>
              <div class="btn-group">
                <button class="btn btn-default">
                  <i class="fa fa-star"></i>
                  Favorite
                </button>
              </div>
              <div class="btn-group">
                <button class="btn btn-default">
                  <i class="fa fa-envelope"></i>
                  Email
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 bootcards-cards">
        <div class="panel panel-default bootcards-media">
          <div class="panel-heading">
            <h3 class="panel-title">Media Card Heading</h3>
          </div>
          <div class="panel-body">
            Media card description lorem ipsum dolor est compendium
          </div>
          <img src="http://www.teamstudio.com/Portals/218295/images/istock_000001242290small.jpg" class="img-responsive"/>
          <div class="panel-footer">
            <div class="btn-group btn-group-justified">
              <div class="btn-group">
                <button class="btn btn-default">
                  <i class="fa fa-arrow-down"></i>
                  Download
                </button>
              </div>
              <div class="btn-group">
                <button class="btn btn-default">
                  <i class="fa fa-star"></i>
                  Favorite
                </button>
              </div>
              <div class="btn-group">
                <button class="btn btn-default">
                  <i class="fa fa-envelope"></i>
                  Email
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2 bootcards-cards">
        <div class="panel panel-default bootcards-media">
          <div class="panel-heading">
            <h3 class="panel-title">Media Card Heading</h3>
          </div>
          <div class="panel-body">
            Media card description lorem ipsum dolor est compendium
          </div>
          <img src="http://www.teamstudio.com/Portals/218295/images/istock_000001242290small.jpg" class="img-responsive"/>
          <div class="panel-footer">
            <div class="btn-group btn-group-justified">
              <div class="btn-group">
                <button class="btn btn-default">
                  <i class="fa fa-arrow-down"></i>
                  Download
                </button>
              </div>
              <div class="btn-group">
                <button class="btn btn-default">
                  <i class="fa fa-star"></i>
                  Favorite
                </button>
              </div>
              <div class="btn-group">
                <button class="btn btn-default">
                  <i class="fa fa-envelope"></i>
                  Email
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
